<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4><%= __('account') %></h4>
                <ul>
                    <li><a id="login-footer" href="/Signup"><%= __('signUp') %></a></li>
                    <li><a id="login-footer" href="/Login"><%= __('login') %></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><%= __('accessibility') %></h4>
                <ul>
                    <li><a href="/about"><%= __('history') %></a></li>
                    <li><a href="/about">Old Trafford</a></li>
                    <li><a href="/about"><%= __('legends') %></a></li>
                    <li><a href="/Fixtures"><%= __('matches') %></a></li>
                    <li><a href="/news"><%= __('news') %></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><%= ('online') %> <%= ('Shop') %></h4>
                <ul>
                    <li><a href="/tickets"><%= __('tickets') %></a></li>
                    <li><a href="/shop"><%= __('merch') %></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><%= ('follow') %> <%= ('Us') %></h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/manchesterunited"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/ManUtd"><i class="fab fa-x"></i></a>
                    <a href="http://instagram.com/manchesterunited"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/manutd"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
