<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/adminStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/js/adminScript.js"></script>
    <title>Edit Tickets</title>
</head>

<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="/dashboard" class="brand">
            <img src="images/manu.png" alt="Admin Image">
            <span class="text">Welcome admin!</span>
        </a>
        <ul class="side-menu top">
            <li >
                <a href="/dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/manageProducts">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Manage Products</span>
                </a>
            </li>
            <li>
                <a href="/manageUsers">
                    <i class='bx bxs-group'></i>
                    <span class="text">Manage Users</span>
                </a>
            </li>
            <li class="active">
                <a href="/manageTickets">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="text">Tickets</span>
                </a>
            </li>
            <li>
                <a href="/manageArticles">
                    <i class='bx bxs-news'></i>
                    <span class="text">Manage Articles</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="/login" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <%- include('../partials/nav', { user: admin }) %>
        <main>
            <div class="head-title">
                <div class="left">
                    <h1><i class="fa-solid fa-pencil"></i> Edit ticket</h1>
                    <ul class="pageSub">
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="/manageTickets">Back</a>
                        </li>
                    </ul>
                </div>
            </div>

            <section class="Bform">
                <div class="booking_form">
                    <form name="booking" id="booking" method="POST">
                        <div class="row">
                            <div class="column">
                                <div class="input">
                                    <span><i class="fa-solid fa-x"></i> Match</span>
                                    <input type="text" placeholder="Enter match title" name="match" value="<%= ticket.match %>">
                                    <div class="error-message" id="match-error" style="color: red;">
                                        <%= errors.match || '' %>
                                    </div>
                                </div>
                                <div class="input">
                                    <span><i class="fa-solid fa-location-dot"></i> Stadium</span>
                                    <input type="text" placeholder="Enter stadium name" name="stadium" value="<%= ticket.stadium %>">
                                    <div class="error-message" id="stadium-error" style="color: red;">
                                        <%= errors.stadium || '' %>
                                    </div>
                                </div>
                                <div class="input">
                                    <span><i class="fa-solid fa-gem"></i> Price</span>
                                    <input type="text" placeholder="Enter ticket price" name="price" value="<%= ticket.price %>">
                                    <div class="error-message" id="price-error" style="color: red;">
                                        <%= errors.price || '' %>
                                    </div>
                                </div>
                                <div class="input">
                                    <span><i class="fa-solid fa-ticket"></i> Ticket type</span>
                                    <div>
                                        <input type="radio" id="vip" name="ticketType" value="vip" <%= ticket.ticketType === 'vip' ? 'checked' : '' %>>
                                        <label for="vip">VIP</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="premium" name="ticketType" value="premium" <%= ticket.ticketType === 'premium' ? 'checked' : '' %>>
                                        <label for="premium">Premium</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="standard" name="ticketType" value="standard" <%= ticket.ticketType === 'standard' ? 'checked' : '' %>>
                                        <label for="standard">Standard</label>
                                    </div>
                                    <div class="error-message" id="ticket-radio-error" style="color: red;">
                                        <%= errors.ticketType || '' %>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input">
                                    <label for="day"><i class="fa-solid fa-calendar"></i> Day</label>
                                    <input type="text" placeholder="DD" id="day" name="day" class="small-input" value="<%= ticket.date.getDate() %>">
                                    <div class="error-message" id="day-error" style="color: red;"><%= errors.day || '' %></div>
                                </div>
                                <div class="input">
                                    <label for="month"><i class="fa-solid fa-calendar"></i> Month</label>
                                    <input type="text" placeholder="MM" id="month" name="month" class="small-input" value="<%= ticket.date.getMonth() %>">
                                    <div class="error-message" id="month-error" style="color: red;"><%= errors.month || '' %></div>
                                </div>
                                <div class="input">
                                    <label for="year"><i class="fa-solid fa-calendar"></i> Year</label>
                                    <input type="text" placeholder="YYYY" id="year" name="year" class="small-input" value="<%= ticket.date.getFullYear() %>">
                                    <div class="error-message" id="year-error" style="color: red;"><%= errors.year || '' %></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn" value="Submit">Edit</button>
                        <% if (Object.keys(errors).length == 0 && !get) { %>
                            <div id="success-message">Ticket edited successfully!</div>
                        <% } %>
                    </form>
                </div>
            </section>
        </main>
    </section>
            

</body>

</html>
