<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <title>Men's Section</title>
    <link rel="stylesheet" href="/css/MenShop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Utd</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <script src="/js/API-football-data.js"></script>
</head>
<body style="background-color: whitesmoke;">
    
<section id="header">
    <a id="navbar" href="/"><img src="/images/ManchesterUnitedLogo.png" width="80px" height="80px" class="Logo" alt="Team Logo"></a>
    <div>
        <ul id="navbar">
            <li><a  href="/"><%= __('home') %></a></li>
            <li><a class = "active" href="/shop"><%= __('shop') %></a></li>
            <li><a href="/Tickets"><%= __('tickets') %></a></li>
            <li><a href="/Fixtures"><%= __('fixtures') %></a></li>
            <li><a href="/News"><%= __('news') %></a></li>
            <li><a href="/Players"><%= __('players') %></a></li>
            <li><a href="/about"><%= __('about') %></a></li>
            <li><a href="/ShoppingCart"><i style="color: white; cursor: pointer;" class="fa-solid fa-bag-shopping"></i></a></li>
           
            <% if (user) { %>
                <li><a href="/Profile">
                    <% if (user.image) { %>
                        <img src="/uploads/<%= user.image %>" width="30px" height="30px" alt="Profile Image">
                    <% } else { %>
                        <img src="/images/ProfileDefault.png" width="30px" height="30px" alt="Default Profile Image">
                    <% } %>
                </a></li>
            <% } else { %>
                <li><a href="/signUp"><img src="/images/ProfileDefault.png" width="30px" height="30px" alt="Profile Logo"></a></li>
            <% } %>
        </ul>
    </div>
</section>

    <section id="categories">
        <div class="cat-bar">
            <ul>
                <li> <a href="#product-1"></i>Football Kits</a></li>
                <li><a href="#product-2">Training</a></li>
                <li><a href="#product-3">Hoodies and Sweatshirts</a></li>
                <li><a href="#product-4">Trousers and Shorts</a></li>
                <li><a href="#product-6">Headwear</a></li>
                <li><a href="/WomenShop">Women Shop</a></li>
                <li><a href="/RetroShop">Retro Shop</a></li>
                <li><a href="/ShoppingCart"><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>
            </ul>
        </div>
    </section>

    <section id="hero1" style="    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/mount.webp');">
        <div class="men-content">
            <h4>Pitch Perfect Picks</h4>
            <h2>Elite Football Jerseys</h2>
            <p>Elevate your game with top-tier football kits!</p>
        </div>
    </section>  
    

    <section id="product-1" class="section-p1">
        <h2>Football Kits</h2>
        <p>Men's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Football Kits' && product.name !== 'Custom Home Kit' && product.name !== 'Custom Away Kit').forEach(product => { %>
                <div style="background-color: white;" class="pro" onclick="window.location.href='/singleProduct/men/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        <h4>$<%= product.price %></h4>
                    </div>
                    <!-- <a href="#"><i class="fa-solid fa-cart-shopping"></i></i></a> -->
                    <button class="pcbtn">Add To Cart  <i class="fa-solid fa-cart-plus"></i></button>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>
    
    <section id="product-2" class="section-p1">
        <h2>Training</h2>
        <p>Men's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Training').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/singleProduct/men/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5> 
                        <h4 >$<%= product.price %></h4>
                    </div>
                    <button class="pcbtn">Add To Cart  <i class="fa-solid fa-cart-plus"></i></button>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>

    <section id="product-3" class="section-p1">
        <h2>Hoodies and Sweatshirts</h2>
        <p>Men's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Hoodies and Sweatshirts').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/singleProduct/men/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        
                        <h4>$<%= product.price %></h4>
                    </div>
                    <button class="pcbtn">Add To Cart  <i class="fa-solid fa-cart-plus"></i></button>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>

    <section id="product-4" class="section-p1">
        <h2>Trousers and Shorts</h2>
        <p>Men's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Trousers and Shorts').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/singleProduct/men/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                       
                        <h4>$<%= product.price %></h4>
                    </div>
                    <button class="pcbtn">Add To Cart  <i class="fa-solid fa-cart-plus"></i></button>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>

  
   

    <section id="product-6" class="section-p1">
        <h2>Headwear</h2>
        <p>Men's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Headwear').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/singleProduct/men/<%= product._id %>';">
                    <img src=" /uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        
                        <h4>$<%= product.price %></h4>
                    </div>
                    <button class="pcbtn">Add To Cart  <i class="fa-solid fa-cart-plus"></i></button>
                </div>
            <% }) %>
        </div>
    </section>

    <%- include('../partials/footer') %>
</body>
</html>
