<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Utd</title>
    <link rel="stylesheet" href="/css/news1.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="API-football-data.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    
<section id="header">
    <a id="navbar" href="/"><img src="/images/ManchesterUnitedLogo.png" width="80px" height="80px" class="Logo" alt="Team Logo"></a>
    <div>
        <ul id="navbar">
            <li><a href="/"><%= __('home') %></a></li>
            <li><a href="/shop"><%= __('shop') %></a></li>
            <li><a href="/Tickets"><%= __('tickets') %></a></li>
            <li><a href="/Fixtures"><%= __('fixtures') %></a></li>
            <li><a class="active" href="/News"><%= __('news') %></a></li>
            <li><a href="/Players"><%= __('players') %></a></li>
            <li><a href="/about"><%= __('about') %></a></li>
            <li><a href="/ShoppingCart"><i style="color: white; cursor: pointer;" class="fa-solid fa-bag-shopping"></i></a></li>
           
            <% if (user) { %>
                <li><a href="/Profile">
                    <% if (user.image) { %>
                        <img src="/uploads/<%= user.image %>" width="30px" height="30px" alt="Profile Image">
                    <% } else { %>
                        <img src="/images/ProfileDefault.png" width="30px" height="30px" alt="Default Profile Image">
                    <% } %>
                </a></li>
            <% } else { %>
                <li><a href="/signUp"><img src="/images/ProfileDefault.png" width="30px" height="30px" alt="Profile Logo"></a></li>
            <% } %>
        </ul>
    </div>
</section>

        <div class="blog-section">
            <div class="title">
                <h2 style="font-size: 3rem;">Latest News</h2>
            </div>
            <div class="cards">
                <% articles.forEach(article=> { %>
                    <div class="news-card">
                        <div class="image-section">
                            <img src="/uploads/<%= article.articleImg %>" alt="Article Image">
                        </div>
                        <div class="content">
                            <h4>
                                <%= article.title %>
                            </h4>
                            <p>
                                <%= article.description %>
                            </p>
                            <a href="/onclick/<%= article._id %>">Read More</a>
                        </div>
                        <div class="posted-date">
                            <p>posted on <%= new Date(article.date).toLocaleDateString() %>
                            </p>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
        <br><br><br><br>
        <%- include('../partials/footer', { user: user }) %>
</body>

</html>