<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Utd</title>
    <link rel="stylesheet" href="/css/news1.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="API-football-data.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <%- include('../partials/header', { user: user }) %>

        <div class="blog-section">
            <div class="title">
                <h2 style="font-size: 3rem;">Latest News</h2>
            </div>
            <div class="cards">
                <% articles.forEach(article=> { %>
                    <div class="news-card">
                        <div class="image-section">
                            <img src="/uploads/<%= article.articleImg %>" alt="Article Image">
                        </div>
                        <div class="content">
                            <h4>
                                <%= article.title %>
                            </h4>
                            <p>
                                <%= article.description %>
                            </p>
                            <a href="/onclick/<%= article._id %>">Read More</a>
                        </div>
                        <div class="posted-date">
                            <p>posted on <%= new Date(article.date).toLocaleDateString() %>
                            </p>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
        <br><br><br><br>
        <%- include('../partials/footer', { user: user }) %>
</body>

</html>