<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
    <link rel="stylesheet" href="/css/onclick.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="API-football-data.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <%- include('../partials/header', { user: user }) %>
        <section class="RNEW">
            <div class="heading">
                <h1>Man United News</h1>
                <h2 class="posted-date-onclick">posted on <%= new Date(article.date).toLocaleDateString() %>.</h2>
            </div>
            <div class="contain">
                <div>
                    <h2><%= article.title %></h2>
                </div>
                <section class="recent">
                    <div class="recent-image">
                        <img src="/uploads/<%= article.articleImg %>" width="700" height="700" alt="Article Image">
                    </div>
                    <div>
                        <p style="font-weight: bold;"><%= article.description %></p>
                    </div>
                </section>
                <div class="contain" style="background-color: rgb(233, 233, 233);">
                    <p><%= article.body %></p>
                </div>
        </section>
        <%- include('../partials/footer', { user: user }) %>
</body>
</html>