<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/MenShop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<script src="/js/singleProduct.js"></script>
<body>
    <%- include('../partials/header', { user: user }) %>

    <section id="proDetails" class="section-p1">
        <div class="single-pro-image">

            <img src="/uploads/<%= product.productImg %>" alt="error loading the image" width="100%" id="MainImg">

</div>

<div class="single-pro-details">

    <h5>Home / <%= product.category %></h5>
    <h4><%= product.name %></h4>
    <h2>$<%= product.price %></h2>
    <select id="borderred" class="sel">
        <option >Select Size</option>
        <option >Small</option>
        <option >Medium</option>
        <option >Large</option>
        <option >XL</option>
        <option >XXL</option>
    </select>
    <input type="number" id="numberInput" value="1" min="0">
    <button onclick="addToCart()">Add To Cart</button>
    <div class="errorMessage" style=" color: red;">
       <%= errors.error  %>
    </div>
    <% if (Object.keys(errors).length == 0 && !get) {%>
        <div class="successMessage" style=" color: green;">
            Items are added successfully!
        </div>
    <% } %>
    <h4>Product Details</h4>
    <span>This is the main man united shirt with the red  color</span>
</div>
</section>
<hr>

<section id="product-1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Men collection today</p>
    <div class="pro-container">
        <% products.forEach(product => { %>
            <div class="pro" onclick="window.location.href='/singleproduct/<%= product.category%>/<%= product._id %>';">
                <img src="/uploads/<%= product.productImg %>" alt="<%= product.name %>" width="100%">
                <div class="des">
                    <span><%= product.category %></span>
                    <h5><%= product.name %></h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$<%= product.price %></h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>
            </div>
        <% }) %>
    </div>
</section>


    <!-- footer  -->
    <%- include('../partials/footer') %>

    <script>
        function addToCart() {
            const sizeSelect = document.getElementById('borderred');
            const quantityInput = document.getElementById('numberInput');
            const size = sizeSelect.value;
            const quantity = quantityInput.value;
            window.location.href = `/singleProduct/add/<%=product.name%>/${size}/${quantity}`;
        }
    </script>
</body>
</html>