<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man Utd Tickets</title>
    <link rel="stylesheet" href="/css/Tickets.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/js/script.js"></script>
    <script src="/js/API-football-data.js"></script>
</head>

<body>

    
<section id="header">
    <a id="navbar" href="/"><img src="/images/ManchesterUnitedLogo.png" width="80px" height="80px" class="Logo" alt="Team Logo"></a>
    <div>
        <ul id="navbar">
            <li><a href="/"><%= __('home') %></a></li>
            <li><a href="/shop"><%= __('shop') %></a></li>
            <li><a class="active" href="/Tickets"><%= __('tickets') %></a></li>
            <li><a href="/Fixtures"><%= __('fixtures') %></a></li>
            <li><a href="/News"><%= __('news') %></a></li>
            <li><a href="/Players"><%= __('players') %></a></li>
            <li><a href="/about"><%= __('about') %></a></li>
            <li><a href="/ShoppingCart"><i style="color: white; cursor: pointer;" class="fa-solid fa-bag-shopping"></i></a></li>
           
            <% if (user) { %>
                <li><a href="/Profile">
                    <% if (user.image) { %>
                        <img src="/uploads/<%= user.image %>" width="30px" height="30px" alt="Profile Image">
                    <% } else { %>
                        <img src="/images/ProfileDefault.png" width="30px" height="30px" alt="Default Profile Image">
                    <% } %>
                </a></li>
            <% } else { %>
                <li><a href="/signUp"><img src="/images/ProfileDefault.png" width="30px" height="30px" alt="Profile Logo"></a></li>
            <% } %>
        </ul>
    </div>
</section>

        <section id="hero"
            style="background-image: url('Images/tickets-bckgrnd.jpg'); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);">
            <div class="text-block-season">
                <p style="color: rgb(251, 218, 29); font-size: 4rem; font-weight: 900; margin-left: 1rem;">CHOOSE YOUR TICKET</p>
            </div>
        </section>
        <h2 style="font-size: 4rem;" id="headertext">Book Now</h2>
        <section class="tick_container">
            <div class="tick_grid">
                <% if (tickets && tickets.length) { %>
                    <% tickets.forEach(ticket=> { %>
                        <div class="tick_card">
                            <div class="tick_content">
                                <div class="tick_card_header">
                                    <h3 style="color: black; font-size: 1.5rem;">
                                        <%= ticket.match %>
                                    </h3>
                                    <% let ticketTypeColor; %>
                                        <% if (ticket.ticketType==='vip' ) { %>
                                            <% ticketTypeColor='gold' ; %>
                                                <% } else if (ticket.ticketType==='premium' ) { %>
                                                    <% ticketTypeColor='#c70101' ; %>
                                                        <% } else { %>
                                                            <% ticketTypeColor='black' ; %>
                                                                <% } %>
                                                                <h1 style="font-size: 3rem; color: <%= ticketTypeColor %>;"><%= ticket.ticketType.charAt(0).toUpperCase() + ticket.ticketType.slice(1) %></h1>
                                                                    <hr>
                                                                    <h4>Stadium: <%= ticket.stadium %>
                                                                    </h4>
                                                                    <h4>Against: <%= ticket.match %>
                                                                    </h4>
                                                                    <h4>Price: $<%= ticket.price %>
                                                                    </h4>
                                </div>
                                <p>At: <%= new Date(ticket.date).toLocaleDateString() %></p>
                                </p>
                         
                                <a href="/BuyPage/<%= ticket._id %>">
                                    <button class="booknow1">Buy Now</button>
                                </a>
                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <p style="color: rgb(251, 218, 29); font-size: 4rem; font-weight: 900; margin-left: 1rem;">No Tickets Available...</p>
                                <% } %>
            </div>
        </section>

        <br>
        <br>
        <br>
        <br>

        <%- include('../partials/footer') %>
</body>

</html>