<!DOCTYPE html>
<html lang="en">
<head>
    <title>Women's Section</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/MenShop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <%- include('../partials/header', { user: user }) %>
    
    <section id="categories">
        <div class="cat-bar">
            <ul>
                <li><a href="#product-1">Football Kits</a></li>
                <li><a href="#product-2">Training</a></li>
                <li><a href="#product-3">Hoodies and Sweatshirts</a></li>
                <li><a href="#product-4">Trousers and Shorts</a></li>
                <li><a href="#product-5">Footwear</a></li>
                <li><a href="#product-6">Headwear</a></li>
                <li><a href="/MenShop">Men Shop</a></li>
                <li><a href="/RetroShop">Retro Shop</a></li>
                <li><a href="/ShoppingCart"><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>
            </ul>
        </div>
    </section>
    
    <section id="hero2">
        <div class="women-content">
            <h4>Striking Soccer Style</h4>
            <h2>Empowerment Uniforms</h2>
            <p>Raise the bar with high-quality football attire, crafted for today's female athletes!</p>
        </div>
    </section>

    <section id="product-1" class="section-p1">
        <h2>Football Kits</h2>
        <p>Women's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Football Kits').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/product/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$<%= product.price %></h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart"></i></a>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>
    
    <section id="product-2" class="section-p1">
        <h2>Training</h2>
        <p>Women's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Training').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/product/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$<%= product.price %></h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart"></i></a>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>

    <section id="product-3" class="section-p1">
        <h2>Hoodies and Sweatshirts</h2>
        <p>Women's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Hoodies and Sweatshirts').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/product/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$<%= product.price %></h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart"></i></a>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>

    <section id="product-4" class="section-p1">
        <h2>Trousers and Shorts</h2>
        <p>Women's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Trousers and Shorts').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/product/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$<%= product.price %></h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart"></i></a>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>

    <section id="product-5" class="section-p1">
        <h2>Footwear</h2>
        <p>Women's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Footwear').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/product/<%= product._id %>';">
                    <img src="/uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$<%= product.price %></h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart"></i></a>
                </div>
            <% }) %>
        </div>
    </section>
    <hr>
    <br>

    <section id="product-6" class="section-p1">
        <h2>Headwear</h2>
        <p>Women's collection today</p>
        <div class="pro-container">
            <% products.filter(product => product.section === 'Headwear').forEach(product => { %>
                <div class="pro" onclick="window.location.href='/product/<%= product._id %>';">
                    <img src=" /uploads/<%= product.productImg %>" alt="error loading the image">
                    <div class="des">
                        <span>adidas</span>
                        <h5><%= product.name %></h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$<%= product.price %></h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart"></i></a>
                </div>
            <% }) %>
        </div>
    </section>

    <%- include('../partials/footer') %>
</body>
</html>
